* {
  font-family: "Arial";
}

.main-image {
  border: solid black 4px;
  width: 256px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  }

h1 {
  background-color: #e2e2e2;
  padding: 5px;
}

.section-title {
  text-transform: capitalize;
}

.figcaption {
  text-align: center;
}
