/* Global Layout Set-up */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #222;
  background: #f7f5f0;
  font-family: 'Roboto', sans-serif;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #0499ff;
}

a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  position: fixed;
  width: 100%;
  min-height: 30px;
  padding: 10px;
  text-align: center;
  background: black;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
}

.nav .name {
  display: none;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: white
}

header {
  overflow: hidden;
  padding-top: 60px;
  text-align: center;
  /** background image =
  http://scotlandinmay.house-of-lynn.com/CaledonianWaters.html **/
  background: url('/images/LynnFalls.jpg') no-repeat top center;
  background-size: cover;
  line-height: 1.5;
}

header .profile-image {
  width: 150px;
  height: 150px;
  margin-top: 50px;
  transition: all 1s;
  border: 3px solid white;
  border-radius: 50%;
}

header .profile-image:hover {
  transform: scale(1.5) rotate(-9deg);
}

.tag {
  display: table;
  margin: 10px auto;
  padding: 10px;
  color: rgb(22, 187, 112);
  border-radius: 5px;
  background-color: #efefef;
}

.location {
  color: #8B007A;
  background-color: #222;
}

.card {
  max-width: 500px;
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  background: #fff;
}

.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  display: inline-block;
  margin: 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 6px;
  background: #F8D100;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  transition: all .25s;
  text-indent: -9999px;
  opacity: .5;
  background-size: 30px 30px;
}

a.twitter {
  background-image: url(images/twitter.svg);
}

a.linkedin {
  background-image: url(images/linkedin.svg);
}

a.gitlab {
  background-image: url(images/gitlab.svg);
}

a.social:hover {
  opacity: 1;
}

.clearfix {
  clear: both;
}

.name {
  color: #009A1B;
}

/* Styles for larger screens */

@media screen and (min-width: 720px) {
  .flex {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  header {
    min-height: 450px;
  }
  .nav {
    max-width: 1200px;
  }
  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }
  main {
    padding-top: 50px;
  }
  main p {
    line-height: 1.6em;
  }
  footer {
    max-width: 1200px;
    margin: 40px auto;
    font-size: 1.3em;
  }
}

h3 {
  letter-spacing: 1px;
  color: #21c82d;
}

.card-title {
  text-align: center;
  border: solid black 3px;
  border-radius: 20px;
  background-color: #009A1B;
}
